<section class="section py-0 has-background-dark">
	<nav class="navbar is-dark is-fixed-top px-6">

		<div class="navbar-brand">
			<a class="navbar-item" href="{{ "index"|link }}">
				{{site_title}}
			{# <svg viewBox="0 0 544 144" style="fill:white; width: 4.5rem; height: auto;">
												                <path d="M457.578,31.286c0.063,-0.001 0.126,-0.001 0.189,-0.001l55.603,-0c5.596,-0 10.301,1.132 14.116,3.395c3.816,2.264 6.906,5.304 9.271,9.119c2.366,3.815 4.057,8.241 5.075,13.277c1.017,5.036 1.526,10.352 1.526,15.947c-0,7.02 -0.674,13.201 -2.022,18.542c-1.348,5.342 -3.32,9.831 -5.914,13.468c-2.594,3.637 -5.786,6.372 -9.576,8.203c-3.79,1.831 -8.152,2.747 -13.086,2.747l-0,27.775l-79.427,-0l0,-39.679c3.816,3.917 7.758,6.881 11.828,8.89c4.069,2.009 7.935,3.014 11.598,3.014c4.934,-0 9.296,-0.916 13.086,-2.747c3.79,-1.831 6.982,-4.566 9.576,-8.203c2.595,-3.637 4.566,-8.126 5.914,-13.468c1.348,-5.341 2.022,-11.522 2.022,-18.542c0,-5.595 -0.509,-10.911 -1.526,-15.947c-1.017,-5.036 -2.709,-9.462 -5.074,-13.277c-2.366,-3.815 -5.456,-6.855 -9.271,-9.119c-3.768,-2.235 -8.403,-3.367 -13.908,-3.394Zm-311.88,2.343c-0.654,0.275 -1.288,0.575 -1.902,0.899c-4.095,2.162 -7.414,5.138 -9.958,8.927c-2.543,3.79 -4.387,8.279 -5.532,13.468c-1.144,5.189 -1.717,10.81 -1.717,16.863c0,6.359 0.585,12.133 1.755,17.322c1.17,5.188 3.04,9.627 5.609,13.315c2.569,3.688 5.9,6.537 9.995,8.546c4.096,2.009 9.043,3.014 14.842,3.014l-85.767,-0c5.85,-0 10.81,-1.005 14.88,-3.014c4.069,-2.009 7.376,-4.871 9.919,-8.584c2.544,-3.714 4.388,-8.152 5.532,-13.316c1.145,-5.163 1.717,-10.924 1.717,-17.283c0,-6.562 -0.61,-12.463 -1.831,-17.702c-1.221,-5.24 -3.128,-9.704 -5.723,-13.392c-2.594,-3.688 -5.913,-6.511 -9.958,-8.469c-0.474,-0.23 -0.959,-0.446 -1.456,-0.649l59.726,-0l-0.131,0.055Zm-145.698,57.733l0,-48.836l22.052,-0l0,-8.952l-22.052,-0l0,-22.281l56.001,0l-0,22.281l4.062,-0c-0.701,0.29 -1.379,0.608 -2.033,0.954c-4.095,2.162 -7.415,5.138 -9.958,8.927c-2.544,3.79 -4.388,8.279 -5.532,13.468c-1.145,5.189 -1.717,10.81 -1.717,16.863c-0,6.359 0.585,12.133 1.755,17.322c1.17,5.188 3.039,9.627 5.608,13.315c2.569,3.688 5.901,6.537 9.996,8.546c4.095,2.009 9.042,3.014 14.841,3.014l-47.415,-0c-3.764,-0.414 -7.098,-1.334 -10.004,-2.76c-4.095,-2.009 -7.427,-4.858 -9.996,-8.546c-2.569,-3.688 -4.438,-8.126 -5.608,-13.315Zm280.26,-59.975c-4.589,0.316 -8.567,1.363 -11.935,3.141c-4.095,2.162 -7.414,5.138 -9.958,8.927c-2.543,3.79 -4.387,8.279 -5.532,13.468c-1.145,5.189 -1.717,10.81 -1.717,16.863c0,6.359 0.585,12.133 1.755,17.322c1.17,5.188 3.04,9.627 5.609,13.315c2.569,3.688 5.9,6.537 9.995,8.546c4.096,2.009 9.043,3.014 14.842,3.014l-124.529,-0c5.85,-0 10.81,-1.005 14.879,-3.014c4.07,-2.009 7.376,-4.871 9.92,-8.584c2.543,-3.714 4.387,-8.152 5.532,-13.316c1.144,-5.163 1.717,-10.924 1.717,-17.283c-0,-6.562 -0.611,-12.463 -1.832,-17.702c-1.221,-5.24 -3.128,-9.704 -5.723,-13.392c-2.594,-3.688 -5.913,-6.511 -9.957,-8.469c-0.475,-0.23 -0.96,-0.446 -1.457,-0.649l45.828,-0l-0,80.043l6.562,0l0,-113.617l56.001,0l-0,31.387Zm16.138,2.187l59.726,-0c-0.7,0.29 -1.378,0.608 -2.033,0.954c-4.095,2.162 -7.414,5.138 -9.958,8.927c-2.543,3.79 -4.387,8.279 -5.532,13.468c-1.144,5.189 -1.716,10.81 -1.716,16.863c-0,6.359 0.585,12.133 1.755,17.322c1.17,5.188 3.039,9.627 5.608,13.315c2.569,3.688 5.901,6.537 9.996,8.546c4.095,2.009 9.042,3.014 14.841,3.014l-85.766,-0c5.85,-0 10.81,-1.005 14.879,-3.014c4.07,-2.009 7.376,-4.871 9.92,-8.584c2.543,-3.714 4.387,-8.152 5.532,-13.316c1.144,-5.163 1.717,-10.924 1.717,-17.283c-0,-6.562 -0.611,-12.463 -1.832,-17.702c-1.221,-5.24 -3.128,-9.704 -5.723,-13.392c-2.594,-3.688 -5.913,-6.511 -9.957,-8.469c-0.475,-0.23 -0.96,-0.446 -1.457,-0.649Zm72.687,82.409c5.85,-0 10.81,-1.005 14.879,-3.014c4.07,-2.009 7.377,-4.871 9.92,-8.584c2.543,-3.714 4.388,-8.152 5.532,-13.316c1.145,-5.163 1.717,-10.924 1.717,-17.283c-0,-6.562 -0.611,-12.463 -1.831,-17.702c-1.221,-5.24 -3.129,-9.704 -5.723,-13.392c-2.595,-3.688 -5.914,-6.511 -9.958,-8.469c-0.474,-0.23 -0.96,-0.446 -1.456,-0.649l44.606,-0l0,82.409l-57.686,-0Zm111.405,-42.654c-0,-6.206 -0.547,-11.599 -1.641,-16.177c-1.094,-4.578 -2.645,-8.368 -4.654,-11.369c-2.01,-3.002 -4.477,-5.24 -7.402,-6.715c-2.925,-1.475 -6.219,-2.213 -9.881,-2.213c-4.019,0 -7.936,1.119 -11.751,3.357c-3.816,2.239 -7.758,5.571 -11.828,9.996l0,46.851c4.223,4.324 8.318,7.618 12.285,9.882c3.968,2.264 7.682,3.395 11.141,3.395c3.408,0 6.562,-0.699 9.462,-2.098c2.899,-1.399 5.405,-3.586 7.516,-6.562c2.111,-2.976 3.764,-6.804 4.959,-11.484c1.196,-4.68 1.794,-10.301 1.794,-16.863Zm-86.224,0.457c-0,-12.412 -1.984,-21.67 -5.952,-27.774c-3.968,-6.105 -10.378,-9.157 -19.229,-9.157c-4.527,0 -8.393,0.801 -11.598,2.404c-3.205,1.602 -5.825,3.968 -7.86,7.096c-2.034,3.128 -3.522,6.982 -4.463,11.56c-0.942,4.578 -1.412,9.869 -1.412,15.871c-0,12.311 2.035,21.48 6.104,27.508c4.07,6.028 10.479,9.042 19.229,9.042c8.495,0 14.816,-2.976 18.962,-8.927c4.146,-5.952 6.219,-15.159 6.219,-27.623Zm-210.296,0c0,-12.412 -1.984,-21.67 -5.952,-27.774c-3.967,-6.105 -10.377,-9.157 -19.228,-9.157c-4.528,0 -8.394,0.801 -11.599,2.404c-3.204,1.602 -5.824,3.968 -7.859,7.096c-2.035,3.128 -3.523,6.982 -4.464,11.56c-0.941,4.578 -1.411,9.869 -1.411,15.871c-0,12.311 2.034,21.48 6.104,27.508c4.07,6.028 10.479,9.042 19.229,9.042c8.495,0 14.816,-2.976 18.961,-8.927c4.146,-5.952 6.219,-15.159 6.219,-27.623Zm-85.766,0c-0,-12.412 -1.984,-21.67 -5.952,-27.774c-3.968,-6.105 -10.377,-9.157 -19.229,-9.157c-4.527,0 -8.393,0.801 -11.598,2.404c-3.205,1.602 -5.824,3.968 -7.859,7.096c-2.035,3.128 -3.523,6.982 -4.464,11.56c-0.941,4.578 -1.412,9.869 -1.412,15.871c0,12.311 2.035,21.48 6.105,27.508c4.069,6.028 10.479,9.042 19.228,9.042c8.496,0 14.816,-2.976 18.962,-8.927c4.146,-5.952 6.219,-15.159 6.219,-27.623Zm210.295,0c0,-12.412 -1.984,-21.67 -5.952,-27.774c-3.967,-6.105 -10.377,-9.157 -19.228,-9.157c-4.528,0 -8.394,0.801 -11.599,2.404c-3.204,1.602 -5.824,3.968 -7.859,7.096c-2.035,3.128 -3.523,6.982 -4.464,11.56c-0.941,4.578 -1.411,9.869 -1.411,15.871c-0,12.311 2.034,21.48 6.104,27.508c4.07,6.028 10.479,9.042 19.229,9.042c8.495,0 14.816,-2.976 18.961,-8.927c4.146,-5.952 6.219,-15.159 6.219,-27.623Zm137.902,-40.212c-0,-0 -1.309,0.595 -1.927,0.916c-4.121,2.136 -7.834,5.01 -11.141,8.622l0,-9.538l13.068,-0Z" style="fill-rule:nonzero;"></path>
												            </svg> #}
				<!-- <img src="{{theme_url}}/img/tooloop-logo.svg" alt="Tooloop – Open media server framework" width="72" height="28"> -->
			</a>

			<label class="navbar-burger burger" for="nav-toggle-state">
				<span></span>
				<span></span>
				<span></span>
			</label>
		</div>

		<input type="checkbox" id="nav-toggle-state"/>
		<div id="navbar-items" class="navbar-menu">
			<div class="navbar-end">

				<a class="navbar-item" onclick="Search.show()">
					<span class="icon">
						<i class="fas fa-search"></i>
					</span>
				</a>
				<a class="navbar-item">
					<span class="icon">
						<i class="fas fa-pencil"></i>
					</span>
				</a>

			</div>
		</div>
	</nav>
</section>
