<nav id="navbar" class="navbar has-background-dark is-fixed-top is-unselectable">

	<div class="columns is-mobile is-flex-grow-1">

		<div class="column is-flex is-justify-content-start">
			{% if pages['_meta'].meta.logo %}
				<div id="logo" class=" is-hidden-touch navbar-item is-flex is-flex-grow-1 is-align-self-center">
					<img src="{{pages['_meta'].meta.logo|url}}">
				</div>
			{% endif %}

			<a class="navbar-item has-icon icon-text is-hidden-desktop" onclick="document.getElementById('docs-menu').classList.toggle('is-active')">
				<span class="icon">
					<i class="fa-solid fa-bars"></i>
				</span>
				<span>Menu</span>
			</a>

		</div>

		<div class="column is-flex is-justify-content-center is-hidden-touch">
			<a class="navbar-item" href="{{ "index"|link }}">
				{{site_title}}
			</a>
		</div>

		<div class="column is-flex is-justify-content-end">
			<a class="navbar-item" onclick="Search.show()">
				<span class="icon">
					<i class="fas fa-search"></i>
				</span>
			</a>

			{% if pages["_meta"].meta.edit_url %}
				<a class="navbar-item" href="{{ pages["_meta"].meta.edit_url|replace({'%file%': current_page.id~'.md'}) }}">
					<span class="icon">
						<i class="fas fa-pencil"></i>
					</span>
				</a>
			{% endif %}
		</div>
	</div>

</nav>
