<div id="search">
	<div class="modal is-justify-content-flex-start" v-bind:class="{'is-active': isActive}">
		<div class="modal-background" ref="background"></div>

		<div class="modal-content">

			<nav
				class="panel has-background-white">
				<!-- Search field -->
				<div class="panel-heading">
					<div class="field has-addons">

						<p class="control is-expanded has-icons-left has-icons-right">
							<input class="input" type="text" ref="searchfield" v-bind:value="query" v-on:input="debounce(() => {query = $event.target.value;})" placeholder="Search">
							<span class="icon is-left">
								<i class="fas fa-search" aria-hidden="true"></i>
							</span>
							<a class="icon clear-input-button is-small is-right" v-on:click="clear();">
								<i class="fas fa-backspace"></i>
							</a>
						</p>

						<p class="control">
							<button v-on:click="hide();" class="button is-dark">
								Cancel
							</button>
						</p>

					</div>
				</div>
				<!-- Results -->
				<a class="panel-block" v-for="(result, index) in results" :href="result.url" :class="{'has-background-light': selected == index}">
					<div>
						{( result.title )}<br/>
						<span class="has-text-grey-light is-size-7">{( result.id )}</span>
					</div>
				</a>
			</nav>

		</div>

	</div>
</div>
