code[class*="language-"],
pre[class*="language-"] {
    font-family: $family-monospace !important;
    font-size: .9em !important;
    font-weight: 100;


    // Bulma has a defintion of a number class and this is colliding with prism.
    // Let’s revert thos stylings    
    .number {
        background-color: initial;
        font-size: initial;
        height: initial;
        margin-right: initial;
        min-width: initial;
        padding: initial;
        text-align: initial;
        vertical-align: initial;
    }
}