// -----------------------------------------------------------------------------
// Clear Sans
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'Clear Sans';
  src:
    url('../fonts/ClearSans-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Clear Sans';
  src:
    url('../fonts/ClearSans-Italic.woff') format('woff');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Clear Sans';
  src:
    url('../fonts/ClearSans-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Clear Sans';
  src:
    url('../fonts/ClearSans-BoldItalic.woff') format('woff');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}



// -----------------------------------------------------------------------------
// Bitter
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'Bitter';
  src:
    url('../fonts/bitter-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


// -----------------------------------------------------------------------------
// JetBrainsMono
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono-ExtraLight.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


// -----------------------------------------------------------------------------
// Features
// -----------------------------------------------------------------------------

.smcp {
  -moz-font-feature-settings: "smcp";
  -ms-font-feature-settings: "smcp";
  -webkit-font-feature-settings: "smcp" 1;
  -o-font-feature-settings: "smcp";
  font-feature-settings: "smcp";
}

.otf {
  font-feature-settings: "kern" on, "liga" on, "calt" on, "smcp";
  -moz-font-feature-settings: "kern" on, "liga" on, "calt" on, "smcp";
  -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on, "smcp";
  -ms-font-feature-settings: "kern" on, "liga" on, "calt" on, "smcp";
  -o-font-feature-settings: "kern" on, "liga" on, "calt" on, "smcp";
}