#navbar {
    z-index: 40;

    a.navbar-item:hover {
        background-color: $black;
    }

    #logo img {
        max-height: 1.5rem;
    }
}

@include touch {
    .navbar {
        min-height: initial;
    }

    body.has-navbar-fixed-top {
        padding-top: 2.5rem;
    }
}

@include desktop {
    .navbar {
        padding-left: $size-1;
        padding-right: $size-1;
    }
}