@page {
    size: A4;
    margin: 25mm;
}

@media print {

    
    html,
    body {
        font-size: 11pt;
        padding: 0 !important;
    }

    #page {
        padding: 0;
    }

    #navbar,
    #sidebar,
    #docs-menu,
    #footer {
        display: none !important;
    }

}