#search {
    .panel {
        max-width: 100vw;
    }

    .clear-input-button {
        pointer-events: all !important;
    }

    .panel-heading {
        position: sticky;
        top: 0;
    }

    .panel-block div {
        line-height: 1.25rem;
    }

    .modal-content {
        max-height: calc(100vh);
    }

    @include tablet {
        .modal {
            padding-top: $size-1;
            padding-bottom: $size-1;
        }

        .modal-content {
            border-radius: $radius;
        }
    }

    @include mobile {

        .panel,
        .panel-heading {
            border-radius: 0;
        }
    }
}