#docs-menu {
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: -webkit-sticky;
    position: sticky;
    top: $navbar-height;
    z-index: 1;
    padding-left: $size-1;
}




@include until($desktop) {

    #sidebar {
        position: absolute;
        width: 0;
        height: 0;
    }

    #docs-menu {
        float: none;
        position: fixed;
        left: -100%;
        top: 2.5rem;
        height: calc(100% - 2.5rem);
        transition: left 0.3s cubic-bezier(.19, 1, .22, 1);
        box-shadow: 0 0 1rem;
        padding-left: $size-6;
    }

    #docs-menu.is-active {
        display: block;
        left: 0;
    }
}


.tree {
    text-align: left;
    display: block;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.trunk {
        display: inline-block;
    }

    &:not(.trunk) {
        padding-left: 1.5em;

        li {
            overflow: hidden;
            height: 0;
            display: block;
        }
    }

    label {
        display: block;
        cursor: pointer;
        color: $text;
        padding: 0.25em 0 0.25rem 0em;
        ;

        &:before {
            font-family: 'Font Awesome\ 6 Free';
            font-weight: bold;
            width: 1em;
            height: 1em;
            line-height: 1em;
            content: "\f0da";
            padding-left: 0.3125rem;
            display: inline-block;
            color: $link;
            transition: transform 0.3s cubic-bezier(.19, 1, .22, 1);
        }

        &:hover {
            color: $text-light;
        }
    }

    .node {
        a {
            padding: 0.25rem 0 0.25rem 0;
            display: block;
            color: $text-light;
            text-decoration: underline;

            &:hover {
                color: $link-hover;
            }
        }

        &:before {
            content: " ";
            position: absolute;
            left: 0;
            width: 100%;
            // border-bottom: 1px solid $border;
        }


        .is-active {
            font-weight: $weight-semibold;

            a {
                color: $link;
            }
        }
    }



    &.nested {
        padding-left: 1.7em;
    }

    [type="checkbox"] {
        display: none;

        &:checked+label {
            color: $text-strong;
        }

        &:checked+label:before {
            transform: rotate(90deg);
        }

        &:checked~ul>li {
            height: auto;
        }
    }
}